#home {
  background-color: #fff;
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 250px 0 150px 0;
    @media (max-width: 1100px) {
      flex-direction: column;
      padding-top: 150px;
    }
    .home-right img {
      width: 100%;
    }
    .home-left-person {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 460px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .home-title {
      padding: 15px 0;
      max-width: 527px;
      color: #1d3444;
      font-size: 64px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -1.92px;
      @media (max-width: 460px) {
        font-size: 48px;
        line-height: 60px;
      }
      @media (max-width: 380px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
    .home-text {
      max-width: 559px;
      padding-bottom: 20px;
      color: #5b5b5b;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      @media (max-width: 460px) {
        font-size: 16px;
        line-height: 26px;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 3px;
      color: #f58a07;
      font-size: 16px;
      font-weight: 500;
      line-height: 106.5%;
      svg {
        font-size: 26px;
      }
    }
  }
}

#posts {
  background-color: #dceaf5;
  .posts {
    padding: 128px 10px;
    &__title {
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      color: #0d1317;
      margin-bottom: 64px;
    }
    &__row {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
      }
    }
  }
}
